.header {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 80px;
  margin-top: 0;
}

.nav > li {
  color: aqua;
  font-size: larger;
}

.nav > li:hover {
  color: burlywood;
}
